/* здесь используйте глобальные переменные */
$background-color: #68B738;
$black: #000000;
$dark-gray: #222222;
$light-gray: #444444;
$background-color-light: #F2F2F2;
$white: #ffffff;


/*шрифты*/
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;


/*вьюпорт*/
$desktop: 1440px;
$tablet: 768px;