.additional-product {
    padding: 25px 20px 0;


    @media (min-width:$tablet) {
        padding: 74px 30px 0;
    }

    @media (min-width: $desktop) {
        padding: 0 110px;
    }
}

.additional-product__page {
    @media (min-width: $desktop) {
        display: flex;
        gap: 81px;
        margin-top: 80px;
    }
}


.additional-product__list {
    margin: 0;


    @media (min-width:$tablet) {
        margin-top: 70px;
        border: 1px solid #CDCDCD;
        padding: 0 38px;
    }

    @media (min-width: $desktop) {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }
}

.additional-product__item {
    border-bottom: 1px solid #CDCDCD;
    padding: 13px 0 19px;
    display: flex;
    flex-direction: column;
    gap: 13px;

    @media (min-width:$tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 26px 0 28px;
    }

    @media (min-width: $desktop) {
        align-items: center;
        padding: 15px 0;
        display: grid
;
        grid-template-columns: 1fr 1fr 244px;
    }
}

.additional-product__item:first-child {
    @media (min-width:$desktop) {
        border-top: 1px solid #CDCDCD;
    }
}

.additional-product__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $black;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 36px;
    text-align: left;

    @media (min-width:$tablet) {
        font-size: 32px;
        line-height: 32px;
        padding: 0;
        border: none;
    }

    @media (min-width: $desktop) {
        font-size: 40px;
        line-height: 40px;
    }
}

.additional-product__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: $dark-gray;
    text-transform: uppercase;

    @media (min-width:$tablet) {
        font-size: 20px;
        line-height: 20px;
    }
}

.additional-product__wrapper {
    display: flex;
    justify-content: space-between;

    @media (min-width:$tablet) {
        justify-content: end;
        gap: 49px;
    }

    @media (min-width:$desktop) {
        justify-content: space-between;
    }
}

.additional-product__text {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: $light-gray;

    @media (min-width:$tablet) {
        font-size: 16px;
        line-height: 20px;
    }
}


.additional-product__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: $white;
    padding: 186px 0px 43px;
    margin-left: 58px;
    width: 161px;

    @media (min-width:$tablet) {
        width: 161px;
        padding: 0;
        margin: 0;
        text-align: left;
        margin-left: 461px;
        padding-top: 71px;
    }
}

.additional-product__button {
    margin-top: 2px;

    @media (min-width:$tablet) {
        grid-column: 1 / 3;
    }

    @media (min-width: $desktop) {
        width: 244px;
        grid-column: 3 / -1;
    }

}

.additional-product__button:hover {
    background: #5EAA2F;
}

.additional-product__button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #5EAA2F;
}

.additional-product__container {
    margin-top: 35px;
    background-image: url(../../images/cat-space-mobile@1x.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    height: 290px;
    background-position: center;
    background-color: rgba(104, 183, 56, 0.85);
    position: relative;

    @media (min-width:$tablet) {
        margin-top: 70px;
        background-image: url(../../images/cat-space-tablet@1x.png);
        background-size: contain;
        height: 200px;
    }

    @media (min-width: $desktop) {
        margin: 0;
        background-image: url(../../images/cat-space-desktop@1x.png);
        background-size: contain;
        width: 245px;
        height: 288px;
    }
}

.additional-product__container::after {
    content: "";
    position: absolute;
    background-image: url(../../icons/stack.svg#icon-gift);
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    top: 60px;
    left: 100px;
}