.contacts {
    padding: 26px 20px;
    background-color: $white;

    @media (min-width:$tablet) {
        padding: 60px 70px;
    }

    @media (min-width:$desktop) {
        position: absolute;
        width: 565px;
        height: 199px;
        left: 110px;
        bottom: 106px;
    }
}

.contacts--catalog {
    background-color: $background-color-light;

    @media (min-width:$desktop) {
        background-color: $white;
    }
}

.contacts__cooperation {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #111111;
    text-transform: uppercase;
    width: 140px;

    @media (min-width:$tablet) {
        font-size: 20px;
        line-height: 26px;
        width: 163px;
    }
}

.contacts__address {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $light-gray;
    width: 140px;


    @media (min-width:$tablet) {
        font-size: 16px;
        line-height: 20px;
        width: 157px;
        text-align: end;
    }
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;

    @media (min-width:$tablet) {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

}