.contacts {
    padding: 26px 20px;
    background-color: $white;

    @media (min-width:$tablet) {
        padding: 60px 70px;
    }
}

.contacts--catalog {
    background-color: $background-color-light;
}

.contacts__cooperation {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #111111;
    text-transform: uppercase;

    @media (min-width:$tablet) {
        font-size: 20px;
        line-height: 26px;
        width: 163px;
    }
}

.contacts__address {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $light-gray;


    @media (min-width:$tablet) {
        font-size: 16px;
        line-height: 20px;
        width: 157px;
        text-align: end;
    }
}

.contacts__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;

    @media (min-width:$tablet) {
        display: flex;
        justify-content: space-between;
    }

}