.product-card {

    @media (min-width:$tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        padding: 0 30px;
        margin: 0;
    }

    @media (min-width: $desktop) {
        margin-top: 84px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        row-gap: 65px;
    }
}

.product-card__img {
    margin: 10.5px 36px;

    @media (min-width:$tablet) {
        margin: 28px 19.5px 16px;
    }
}

.product-card__img-big {
    margin: 1.5px 28px;
    width: 84px;
    height: 100px;

    @media (min-width:$tablet) {
        margin: 11px 16px -6px;
        width: 169px;
        height: 210px;
    }
}

.product-card__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: $dark-gray;
    grid-row: 2 / -3;
    grid-column: 2 / 3;
    width: 76px;
    text-transform: uppercase;

    @media (min-width:$tablet) {
        font-size: 20px;
        line-height: 24px;
        width: 135px;
        text-align: center;
        margin-top: 22px;
    }

    @media (min-width:$desktop) {
        margin-top: 12px;
    }
}

.product-card__title--more {
    width: 100%;
    text-align: center;
    margin-top: 59px;

    @media (min-width:$tablet) {
        margin-top: 160px;
        width: 134px;
    }

    @media (min-width: $desktop) {
        margin-top: 148px;
    }
}

.product-card__text {
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: $light-gray;

    @media (min-width:$tablet) {
        font-size: 16px;
        line-height: 20px;
    }
}

.product-card__text--more {

    @media (min-width:$tablet) {
        margin-top: 11px;
        width: 170px;
    }

    @media (min-width: $desktop) {
        margin-top: 16px;
    }
}


.product-card__item:first-child {
    border-top: 1px solid #EBEBEB;

    @media (min-width:$tablet) {
        border: none;
    }
}

.product-card__item {
    border-bottom: 1px solid #EBEBEB;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 107px 40px;
    row-gap: 17px;
    padding: 20px 20px 24px;

    @media (min-width:$tablet) {
        padding: 0 37px 43px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        max-width: 324px;
        background: linear-gradient(to top, #f2f2f2 432px, #ffffff 0);
        gap: 0;
    }

    @media (min-width: $desktop) {
        width: 245px;
        padding: 0 37px 39px;
    }
}

.product-card__item--more {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    @media (min-width:$tablet) {
        height: 429px;
        margin-top: 79px;
        background: $white;
        border: 2px solid #F2F2F2;
        padding-bottom: 37px;
    }
}

.product-card__item--more::after {
    content: "";
    border: 1px solid #D3D3D3;
    width: 30px;
    position: absolute;
    left: 145px;
    top: 39px;

    @media (min-width:$tablet) {
        width: 60px;
        top: 79px;
        left: 130px;
    }

    @media (min-width: $desktop) {
        left: 90px;
    }
}



.product-card__item--more::before {
    content: "";
    border: 1px solid #D3D3D3;
    height: 30px;
    position: absolute;
    left: 159px;
    top: 25px;

    @media (min-width:$tablet) {
        height: 60px;
        top: 48px;
        left: 160px;
    }

    @media (min-width: $desktop) {
        left: 120px;
    }
}

.product-card__list {
    grid-column: 2 / 3;
    grid-row: 2 / -3;
    margin-top: 55px;

    @media (min-width:$tablet) {
        width: 250px;
        margin: 20px 0 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media (min-width: $desktop) {
        width: 169px;
        margin: 24px 0 0;
    }
}

.product-card__button {
    grid-column: 1 / 3;

    @media (min-width:$tablet) {
        width: 250px;
        margin-top: 32px;
    }

    @media (min-width: $desktop) {
        width: 169px;
        margin-top: 41px;
    }
}

.product-card__button:hover {
    background: #5EAA2F;
}

.product-card__button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #5EAA2F;
}

.product-card__button--more {
    margin-top: 13px;
    background-color: $background-color-light;
    color: $light-gray;

    @media (min-width:$tablet) {
        width: 250px;
        margin-top: 72px;
    }

    @media (min-width: $desktop) {
        width: 169px;
        margin-top: 79px;
    }
}

.product-card__button--more:hover {
    background: #EBEBEB;
}

.product-card__wrapper {
    height: 16px;
    display: flex;
    justify-content: space-between;


    @media (min-width:$tablet) {
        border-bottom: 1px solid #CDCDCD;
        height: 22px;
    }

}