.statistics {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    max-width: 280px;

    @media (min-width: $tablet) {
        max-width: 367px;
    }

    @media (min-width: $desktop) {
        margin-top: 69px;
    }
}

.statistics__wrapper {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 14px 0 17px;
    position: relative;

    @media (min-width: $tablet) {
        padding: 15px 30px 20px;
    }
}

.statistics__result {
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $black;

    @media (min-width: $tablet) {
        font-size: 30px;
        line-height: 37px;
    }
}

.statistics__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: $light-gray;
    position: absolute;
    max-width: 86px;
    padding: 0 11px;
    background-color: #eaeaea;
    left: 17px;
    top: 48px;   
    
    @media (min-width: $tablet) {
        background-color: $white;
        font-size: 14px;
        line-height: 14px;
        max-width: 160px;
        top: 66px;
        left: 11px;
    } 
}