.subscription {
    padding: 40px 20px;

    @media (min-width:$tablet) {
        padding: 80px 68px;
    }
}

.subscription__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $black;

    @media (min-width:$tablet) {
        font-size: 32px;
        line-height: 32px;
    }

}

.subscription__text {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $black;
    margin-top: 32px;

    @media (min-width:$tablet) {
        font-size: 24px;
        line-height: 32px;
        margin-top: 66px;
    }
}

.subscription__wrapper {
    @media (min-width:$tablet) {
        display: grid;
        margin-top: 6px;
        grid-template-columns: 1fr 256px;
    }
}

.subscription__form {
    padding: 13px;
    width: 100%;
    height: 56px;
    margin-top: 24px;

    @media (min-width:$tablet) {
        margin-top: 16px;
    }
}

.subscription__form::placeholder {
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.64px;
    text-transform: uppercase;
    color: $light-gray;
}

.subscription__button {
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;

    @media (min-width:$tablet) {
        width: 256px;
    }
}